<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="controller" class="cigma.pfe.controllers.ClientController"
          scope="prototype">
        <constructor-arg ref="service"/>
    </bean>

    <bean id="service" class="cigma.pfe.services.ClientServiceImpl"
          scope="prototype">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="repository"
          class="cigma.pfe.repositories.ClientRepositoryImpl"
          scope="prototype">

    </bean>
    <!-- -->
    <!-- beans Factures -->

    <bean id="fcontroller" class="cigma.pfe.controllers.FactureControllerImpl"
          scope="prototype">
        <constructor-arg ref="fservice"/>
    </bean>

    <bean id="fservice" class="cigma.pfe.services.FactureServiceImpl"
          scope="prototype">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="frepository"
          class="cigma.pfe.repositories.FactureRepositoryImpl"
          scope="prototype">

    </bean>

</beans>


